In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('Salary_Data.csv')

In [11]:
df.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [12]:
df.size

90

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Age              30 non-null     float64
 2   Salary           30 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [14]:
X=df[['YearsExperience','Age']]
y=df['Salary']

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model=LinearRegression()
model.fit(X,y)

LinearRegression()

In [17]:
model.score(X,y)

0.9599822609873284

In [19]:
model.intercept_

-6661.98719881312

In [20]:
model.coef_

array([6153.35330145, 1836.01359426])

In [22]:
model.predict([[2,30],[5,30],[10,33]])

array([ 60725.1272319 ,  79185.18713624, 115459.99442625])

In [23]:
Q =[[2,30],
    [5,30],
    [10,33]]
model.predict(Q)

array([ 60725.1272319 ,  79185.18713624, 115459.99442625])

In [26]:
Exp=float(input("Enter the years of Experience: "))
age=float(input("Enter the age of person: "))
X_test=[[Exp,age]]
print("Salary Calculated based on Years of Experience and Age of the person is : ", float(model.predict(X_test)))

Enter the years of Experience: 5
Enter the age of person: 29
Salary Calculated based on Years of Experience and Age of the person is :  77349.17354197866